<header class="page-header">
  <h1>About Us</h1>
</header>
<div class="intro">
      <h2>🌿 WELCOME TO THE JUNGLE! 🌿</h2>
      <p>
        We are the world's leading online retailer of rare botanicals! Our plants come from a variety of top secret growers in exotic locations. We were founded on the principle that no home should be without a ridiculously priced and obscure shrub!
      </p>
      <small>Established in 2022, Application created by Stu Mitchell of the Tla'Amin Nation.</small>

    </div>